body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: var(--rs-text-primary)!important;
}

.rs-anim-fade.rs-anim-in{
  z-index: 5;
}